/1AugustusResGestaeI.txt
/1Catullus.txt
/1LIBERDECAESARIBUS.txt
/3CurtiusRufusHistoriaeAlexandriMagniIV.txt
/3EPITOMEDECAESARIBUS.txt
/4CiceroadQuintumFratremIII.txt
/4CicerodeLegeAgrariaIII.txt
/4CurtiusRufusHistoriaeAlexandriMagniV.txt
/4EPITOMEDECAESARIBUS.txt
/4PlinytheYounger.txt
/5CaesarBellumGallicumI.txt
